@import 'smart-grid';
@import 'typography';
@import 'helpers';
@import 'base-color';
@import 'reset';


.App{


  &-wrapper{
    @include container();
    width: 100%;
    box-sizing: border-box;
  }

  &-row{
    @include row-flex();
  }
}

.wrapp-page{
  @include row-flex();
}

button {
  padding: 0;
}