// Библиотека полезных функций:

// переводим пиксели в ремы вызываем так: rem(18)
@function rem($px) {
	@return ($px / 16) +rem;
}

// переводим пиксели в em вызываем так: em(18)
@function em($px) {
	@return ($px / 16) +em;
}

@mixin font($size, $weight) {
	font:{
		size: $size;
		weight: $weight;
	}
}

@mixin line-clamp($clamp, $height, $line-height){
	//default: height: 3.4em; (54px)
	overflow: hidden;
  line-height: $line-height;
  height: $height;
  text-overflow: -o-ellipsis-lastline;
  display: -webkit-box;
  -webkit-box-orient: vertical;  
	-webkit-line-clamp: $clamp;
	
	@supports (text-overflow: -o-ellipsis-lastline) {
		&{
			display: block;
		}
	}
}

.container {
  @include container();
  @include sm(max-width, rem(510));
  @include md(max-width, rem(690));
  @include lg(max-width, rem(930));
  @include xl(max-width, rem(1110));
}