// import global stylesheet
@import '../../scss/smart-grid';
@import '../../scss/base-color';
@import '../../scss/helpers';


.header{
  max-width: 100%;
  width: 100%;
  position: relative;
}

.wrapper{
  @include container();
  width: 100%;
  box-sizing: border-box;
}

.headerCover{
  display: flex;
  max-width: 100%;
  width: 100%;
  height: rem(350);
  position: relative;
  background-color: $nice-white;
  background-image: url("../../details/img/nice.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
