// import global stylesheet
@import '../../scss/smart-grid';
@import '../../scss/base-color';
@import '../../scss/helpers';

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: rem(8) 0 rem(8);
  background-color: $nice-black;

}

.logo{
  display: inline-flex;
  font-size: em(30);
  margin-left: rem(12);
  color: $nice-white;
}

.info_item{
  display: flex;
  margin-right: rem(12);
  @include font(em(18), 400);
  color: $nice-white;
}
