// import global stylesheet
@import '../../scss/smart-grid';
@import '../../scss/base-color';
@import '../../scss/helpers';

.wrapp_page{
  @include row-flex();
}

.profileSection{
  @include col();
  @include size(12);
  @include size-md(12);
  @include size-sm(12);

}

.profileCover{
  display: flex;
  max-width: 100%;
  width: 100%;
  height: rem(350);
  position: relative;
  background-color: $nice-white;
  background-image: url("../../details/img/nice.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
