// import global stylesheet
@import '../scss/smart-grid';
@import '../scss/base-color';
@import '../scss/helpers';

.sidebar{
  display: flex;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 0 rem(22);
}

.nav_item{
  width: 100%;
    
  & > ul{
    display: flex;
    flex-direction: column;
    width: 100%;

    & > li{
      padding: rem(15) 0;
      border-bottom: rem(1) solid $link-border-col;
    }

    & li > a{
      @include font(em(16), 400);
      text-transform: uppercase;
      color: $nice-gray;
    }
  }
}

.nav_icon_default{
  display: inline-flex;
  width: rem(18);
  font-size: rem(16);
  color: $nice-gray;
  margin-right: rem(10);
}