// import global stylesheet
// @import '../scss/smart-grid';
@import '../../assets/scss/smart-grid';
@import '../../assets/scss/base-color';
@import '../../assets/scss/helpers';


.btn_like,
.btn_dislike{
  display: inline-flex;
  align-items: center;
  padding: rem(4) rem(6);
  margin: 0 rem(8);
  font-size: em(14);
  border-radius: 0;
  border: none;
  background: transparent;

  &:focus{
    outline-color: $nice-gray;
  }
}

.liked_icon{
  display: inline-flex;
  margin-right: rem(8);
  color: $like-clr;
}

.dislike_icon{
  display: inline-flex;
  padding-top: rem(4);
  margin-right: rem(8);
  color: $dislike-clr;
}