// import global stylesheet
@import '../../assets/scss/smart-grid';
@import '../../assets/scss/base-color';
@import '../../assets/scss/helpers';


.members_dialog{
  @include row-flex();
  @include col();
  @include size(12);
}

.list__item{
  margin-bottom: $offset_one_side;

  &:last-child{
    margin-bottom: 0;
  }
}

.dialog__item{
  display: flex;
  width: 100%;
}

.dialogs{


  &__list{
    @include col();
    @include size(4);
    @include size-md(12);

    display: flex;
    flex-direction: column;
    position: relative;

    @include md-block(){
      margin-bottom: $offset_one_side;
    }

    &::after{
      content: '';
      position: absolute;
      right: rem(-15);
      width: rem(1);
      height: 100%;
      display: inline-flex;
      background-color: $link-border-col;
      @include md-block(){
        right: inherit;
        bottom: rem(-15);
        height: rem(1);
        width: 100%;
      }
    }
  }
  
  &__messages{
    @include col();
    @include size(8);
    @include size-md(12);
    @include md-block(){
      margin-top: $offset_one_side;
    }

    display: flex;
    flex-direction: column;
  }
}

.dialog__wrapp {
  max-height: rem(280);
  height: 100%;
  overflow: auto;
}

.read_message {
  width: 100%;
  margin-top: auto;
  display: flex;
  flex-wrap: wrap;
}

.textarea {
  width: 85%;
  min-height: rem(60);
  height: auto;
  padding: rem(8) rem(14);
  resize: none;
  box-sizing: border-box;
  word-wrap: break-word;
  border: 1px solid $send-msg-bcgck;
  
  &:hover,
  &:focus {
    outline: 2px solid $send-msg-bcgck;
  }
}

.add_message {
  width: 15%;
  box-sizing: border-box;
  word-wrap: break-word;
  background-color: $send-msg-bcgck;
  outline: none;
  border: none;

  .icon {
    font-size: em(20);
    color: $btn-send-msg;
  }
}