// import global stylesheet
@import '../scss/smart-grid';
@import '../scss/base-color';
@import '../scss/helpers';

.profile{
  @include col();
  @include size(2);
  @include size-md(12);
  position: absolute;
  bottom: rem(-95);
  // left: rem(135);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
}

.user_avatar{
  display: inline-flex;
  width: rem(160);
  height: rem(160);
  object-fit: cover;
  border-radius: 50%;
  border: rem(8) solid #fff;
  box-shadow: 0 rem(5) rem(5) rem(-5);
}

.user_name{
  margin: rem(22) 0 rem(18);
  @include font(em(24), 700);
  color:$typography-default-col;
}

.user_posit{
  display: inline-flex;
  @include font(em(14), 400);
  color: $nice-gray;
}