// All global color variables are stored in this file.

// Background's
$nice-green: #267b64;
$ghost-borderline: #e6e6e6;
$nice-white: #f7f7f7;
$nice-black: rgba(6, 6, 6, 0.82);
$nav-bckg: rgba(40, 40, 40, 0.68);
$icon-default: #5ad2c1;
$link-col: #c5c5c5;
$link-hover-col: #8bddea;
$ava-border-col: rgba(253, 82, 82, 0.88);
$typography-default-col: rgb(39, 170, 227);
$nice-gray: #9ba0a2;
$nice-orange: #fffbf6;
$nice-blue: rgba(226, 226, 255, 0.28);
$blue-shadow: #5a5aff;

$link-border-col: #e8e8e8;
$burger-bckgrnd: rgba(0, 0, 0, 0.96);


$main-shadow-hover: rgba(45, 45, 45, 0.05) 0 2px 2px,
					rgba(49, 49, 49, 0.05) 0 4px 4px,
					rgba(42, 42, 42, 0.05) 0 8px 8px,
					rgba(32, 32, 32, 0.05) 0 16px 16px,
					rgba(49, 49, 49, 0.05) 0 32px 32px,
					rgba(35, 35, 35, 0.05) 0 64px 64px;